.secondSection {
    background-color: #000;
    margin-top: 0.5rem;
  }
  
  .second {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 75vw;
    margin: auto;
    padding: 5rem 0;
  }
  
  .secDes {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
  }

  .secDes> :nth-child(1){
    font-size: 48px;
    font-weight: 900;
  }

  .secDes> :nth-child(2){
    font-size: 24px;
    font-weight: 500;
  }
  
  .secImg {
    position: relative;
  }
  
  .secImg img {
    width: 555px;
    position: relative;
    z-index: 10;
  }
  
  .secImg video {
    position: absolute;
    top: 51px;
    right: 0;
    object-fit: cover;
  }

  
  @media screen and (max-width: 780px) {
    .second{
    flex-wrap: wrap;
    }
  }